.search {
  .wrapper {
    .body {
      input {
        width: 500px;
        height: 44px;
        padding: 0 10px;
        font-size: 18px;
        outline: none;
        position: relative;
        border: none;
      }
      input:focus {
        border: 3px solid orange;
        position: relative;
      }
      span {
        position: absolute;
        padding: 0 5px;
        margin: 10px 50px 0 0;
      }
    }
  }
}
